@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap");


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.3rem;
    min-height: 50%;
    font-family: "Montserrat", sans-serif;
}